:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 1vh;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer > #location {
  position: fixed;
  bottom: 1vh;
  left: 3vh;
  width: auto;
  z-index: 1002;
  font-size: 10px;
}

.footer > #progress {
  position: fixed;
  bottom: 1vh;
  right: 3vh;
  width: auto;
  z-index: 1002;
  font-size: 10px;
}

.row {
  display: flex;
  justify-content: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

svg,
img {
  position: absolute;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  height: 98vh;
  max-width: 99%;
}

#image-container {
  z-index: -1;
  /* Scale preserving aspect ratio. */
  object-fit: contain;
}

/* ----------------------------------------------------- */
/*        Control Buttons                                */
/* ----------------------------------------------------- */
.controls {
  display: flex;
}

.control {
  font-family: "Apple Color Emoji", Inter, Avenir, Helvetica, Arial, sans-serif;
  margin: 2px;
}

.row1 {
  position: fixed;
  top: 20px;
  right: 20px;
  width: auto;
  /* width: 100px; */
  z-index: 1001;
}

.row2 {
  position: fixed;
  top: 80px;
  right: 20px;
  width: auto;
  z-index: 1002;
}

.row3 {
  position: fixed;
  top: 140px;
  right: 20px;
  width: auto;
  z-index: 1003;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
}

/* ----------------------------------------------------- */
/*        Settings                                       */
/* ----------------------------------------------------- */
.settings {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  overflow-y: auto;
  margin: 5px;
  padding: 10px;
  max-height: 90vh;
  z-index: 2000;
  /* Same as root */
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: -2px 4px 15px rgba(0, 0, 0, 0.2);
}

div.settings-row {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  margin: 5px 0;
}

.settings legend {
  padding: 0 10px;
  font-weight: bold;
}

.settings fieldset > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  gap: 10px;
}

.settings label {
  min-width: 140px;
  flex-shrink: 0;
}

.settings input[type="text"],
.settings select {
  flex: 1;
  min-width: 0;
  /* Prevents flex items from overflowing. */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.settings input[type="range"] {
  flex: 1;
  min-width: 150px;
  box-shadow: none;
}

.settings input[type="checkbox"] {
  box-shadow: none;
}

.control[data-event="d"],
.control[data-event="y"],
.control[data-event="i"] {
  width: 100%;
}

.control[data-event="d"] {
  background: #007bff;
  color: white;
}

/* ----------------------------------------------------- */
/*        Question and Answers                           */
/* ----------------------------------------------------- */

div.qna {
  position: fixed;
  bottom: 5vh;
  left: 0;
}

div#answers,
div#question {
  margin: 2px;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  z-index: 1004;
}

button.answer {
  font-weight: bold;
}

button.correct {
  background-color: #2bb567;
}

button.wrong {
  background-color: #de5353;
}

/* ----------------------------------------------------- */
/*        Smaller screen                                 */
/* ----------------------------------------------------- */

@media (max-width: 480px) {
  .settings fieldset > div {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  label {
    min-width: auto;
    margin-bottom: 2px;
  }
}

/* ----------------------------------------------------- */
/*        Dark theme                                     */
/* ----------------------------------------------------- */

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }

  .settings {
    background-color: #2f2f2f;
  }
}
